version: '2'

services:
  postgres:
    image: postgres:9.6.3-alpine
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_DB: ${postgres_db}
      POSTGRES_PASSWORD: ${postgres_password}
      POSTGRES_USER: ${postgres_user}
    ports:
      -${tcp_port}:5432
    stdin_open: true
    tty: true